<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProperty scope="context" name="appName" source="info.app.name"/>
    <springProperty scope="context" name="appVersion" source="info.app.version"/>

    <springProfile name="logtoconsole">
        <appender name="applicationAppender" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            </layout>
        </appender>

        <appender name="thirdPartyAppender" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            </layout>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>DENY</onMatch>
                <onMismatch>NEUTRAL</onMismatch>
            </filter>
        </appender>

        <appender name="thirdPartyErrorAppender" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            </layout>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
        </appender>
    </springProfile>

    <springProfile name="!logtoconsole">
        <appender name="applicationAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerInfo>true</includeCallerInfo>
                <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                    <pattern>
                        {
                        "timestamp" : "%date{\"yyyy-MM-dd'T'HH:mm:ss,SSSXXX\", UTC}",
                        "thread" : "%thread",
                        "subsystem" : "${appName}",
                        "logger" : "%logger{50}",
                        "exception" : "%exception"
                        }
                    </pattern>
                </provider>
            </encoder>
        </appender>

        <appender name="thirdPartyAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerInfo>true</includeCallerInfo>
                <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                    <pattern>
                        {
                        "thread" : "%thread",
                        "subsystem" : "${appName}",
                        "logger" : "%logger{50}",
                        "exception" : "%exception"
                        }
                    </pattern>
                </provider>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>DENY</onMatch>
                <onMismatch>NEUTRAL</onMismatch>
            </filter>

        </appender>

        <appender name="thirdPartyErrorAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerInfo>true</includeCallerInfo>
                <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                    <pattern>
                        {
                        "timestamp" : "%date{\"yyyy-MM-dd'T'HH:mm:ss,SSSXXX\", UTC}",
                        "thread" : "%thread",
                        "subsystem" : "${appName}",
                        "logger" : "%logger{50}",
                        "exception" : "%exception",
                        "event_id": "THIRD_PARTY_ERROR"
                        }
                    </pattern>
                </provider>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
        </appender>

    </springProfile>

    <!-- Override default spring logger  -->
    <logger name="org.springframework" additivity="false" level="INFO">
        <appender-ref ref="thirdPartyAppender"/>
        <appender-ref ref="thirdPartyErrorAppender" />
    </logger>
    <logger name="org.hibernate" additivity="false" level="WARN">
        <appender-ref ref="thirdPartyAppender"/>
        <appender-ref ref="thirdPartyErrorAppender" />
    </logger>
    <logger name="org.flyway" additivity="false" level="WARN">
        <appender-ref ref="thirdPartyAppender"/>
        <appender-ref ref="thirdPartyErrorAppender" />
    </logger>
    <logger name="org.flywaydb" additivity="false" level="WARN">
        <appender-ref ref="thirdPartyAppender"/>
        <appender-ref ref="thirdPartyErrorAppender" />
    </logger>

    <logger name="uk.gov" additivity="false" level="INFO">
        <appender-ref ref="applicationAppender"/>
    </logger>

    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" additivity="false" level="ERROR">
        <appender-ref ref="thirdPartyAppender"/>
        <appender-ref ref="thirdPartyErrorAppender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="thirdPartyAppender"/>
        <appender-ref ref="thirdPartyErrorAppender" />
    </root>

</configuration>